<form action="">

    <div class="mb-3">
      <label for="email" class="form-label">Adresse Email</label>
      <input type="email" class="form-control" id="email" name = "email" [(ngModel)]="userObject"] placeholder="name@example.com">
    </div>


      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>

   <!-- bouton d'envoie -->
      <div class="mb-3">
        <button class ="btn bg-body-secondary">Connexion</button>
      </div>


</form>
